@page
@model IndexModel

<h1 class="cover-heading">Wprowadź adres sklepu</h1>
<p class="lead">
    Nasz serwis szybko zweryfikuje czy sklep ten nie znajduje się na liście sklepów, na które warto uważać.
</p>
<p class="lead">
    <input type="url" class="form-control" id="store-to-check" placeholder="Adres sklepu"/>
</p>
<p class="lead">
    <button class="btn btn-lg btn-primary" id="btn-check">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="btn-check-spinner"></span>
        Sprawdź
    </button>
</p>

@section Scripts{

    <script type="text/javascript">

        APP.home.checkStore({
            btn: '#btn-check',
            spinner: '#btn-check-spinner',
            cnt: '#store-to-check',
            url: 'https://api.podejrzanysklep.pl/ad/info'
        });

    </script>

}